
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;


}

main{

  min-height: 600px;
}


header{
  position: relative;
  
}

.header-cover {
  position: relative;
  overflow: hidden;
}

.header-cover img {
  width: 100%;
  height: auto;
}

.navbar-color{
  background-color: hsl(195, 53%, 75%);
}

.card{
  max-width: 500px;;
}


footer {
  width: 100%;
  background-color: #282c34;
  color: black;
  text-align: center;
  margin-top: 15px;
  padding: 10px 0;
  position: static;
  bottom: 0;

}

.content{
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.user-config-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 35vh; 
  position: fixed;
}




